/*csslint ids: false, box model: false;*/


/************************************************************************************************
General
************************************************************************************************/
body{
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    /*max-width is related to width. But instead of width, max-width that it can be smaller for mobile devices/tablets.*/
    max-width: 940px;
    /*Margin 0 is foor all sides */
    margin: 0 auto;
    /*Values first one is top and bottom. second one is left and right.*/
    padding: 0 5%;    
}

a {
    text-decoration: none; 
}

img{
    max-width: 100%;
}

h3 {
    margin: 0 0 30px 0;
}

/************************************************************************************************
Header
************************************************************************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    /*our name and description of who we are.*/
    text-align: center;
    margin: 0;
}

h1 {
    font-family: : 'Sarala', sans-serif;
    margin: 15px 0;
    font-size: 1.75cm;
    color: #fff;
}

h2 {
    font-size: 0.75cm;
    /*1st value is for top. 2nd value is for left and right. 3rd value is for the bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
    color: #fff;
}

/***********************************************************************************************
Navigation
************************************************************************************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    front-weight: 000;
    padding: 15px 10px;
}
/***********************************************************************************************
Footer
************************************************************************************************/

footer  {
        font-size: 0;
        text-align: center;
        padding-top: 50px;
        color: #ccc;
        clear: both;
}

.social-media-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/***********************************************************************************************
Page portfolio
************************************************************************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
        float: left;
        width: 45%;
        margin: 2.5%;
        background-color: lightgrey;
        color: #bdc3c7;
        }

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75cm;
    color: black;
}

/***********************************************************************************************
ABOUT ME PAGE
************************************************************************************************/

.portfolio-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}
/***********************************************************************************************
CONTACT PAGE
************************************************************************************************/
.contact-info{
    list-style: none;
    padding: 00;
    margin: 0;
    font-size: 0.9cm;
}

.contact-info a {
    display: block;
    min-height: 20;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info li.mail a {
    background-image: url( ../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url( ../img/twitter.jpg);
}


/***********************************************************************************************
Colors
************************************************************************************************/
body{
    background-image: image(troll.png);
    color: #999;
}

a /* <--help */{
    color: #6ab47;
}

header {
    background: #6ab47b;
}

nav {
    background: #599ab68;
}

/*Pseudo-Class*/
nav a, nav a:visited{
    color: #fff;
}

nav .selected, nav a:hover {
    color: #32673f;
}
/***********************************************************************************************
MEDIA Querie
************************************************************************************************/
/*TWO COLUMN LAYOUT*/

@media sreen and (min-width: 480px){
    #primary {
    width: 50%;
    float: left;
    }
    
    $secondary {
    width: : 40%;
    float: right;
    }
    /*THREE COLUMB LAYOUT PORTFOLIO*/
    #gallery li{
        width: 28.3333%;
    }
    #gallery li:nth-child(4n){
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
    
}

@media screen and (min-width: 660) {
    /*NAV*/
nav{
   background: none;
    float: right;
    font-size: 1.125cm;
    margin-right:5%;
    width: 45%;
}

    #logo {
        float: left
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}